* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: radial-gradient(circle at center, #020617, #000);
  color: white;
}

/* Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  padding: 20px;
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(10px);
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #1e293b, #334155);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar button:hover {
  background: linear-gradient(90deg, #38bdf8, #6366f1);
  box-shadow: 0 0 15px #38bdf8;
  transform: scale(1.05);
}

/* Main */
.main {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.main h1 {
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
  margin-bottom: 20px;
}

/* Upload Button */
.uploadBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #22c55e, #4ade80);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #22c55e;
  cursor: pointer;
}

/* Canvas */
canvas {
  margin-top: 30px;
  width: 700px;
  height: 400px;
}

/* FILE PANEL */
.files {
  width: 260px;
  padding: 20px;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(15px);
  border-left: 1px solid rgba(255,255,255,0.1);
}

.files h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.files ul {
  list-style: none;
  padding: 0;
}

.files li {
  background: linear-gradient(135deg, #1e293b, #0f172a);
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  color: #e2e8f0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.files li:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  box-shadow: 0 0 15px #38bdf8;
  color: white;
}

.files li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: #38bdf8;
}

.files li::after {
  content: "📄";
  position: absolute;
  right: 10px;
}

/* ================= RESPONSIVE ================= */

/* 📱 Mobile */
@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .sidebar button {
    font-size: 12px;
    padding: 8px;
    width: 45%;
  }

  .main {
    padding: 10px;
  }

  canvas {
    width: 100%;
    height: 250px;
  }

  .files {
    width: 100%;
    border-left: none;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
}

/* 💻 Tablet */
@media (max-width: 1024px) {
  .sidebar {
    width: 180px;
  }

  .files {
    width: 200px;
  }
}